@import 'tailwindcss';
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border
  }
}

:root {
  /* Base colors */
  --background: #cccccc;
  --foreground: #1f1f1f;

  --card: #b0b0b0;
  --card-foreground: #1f1f1f;
  
  --popover: #b0b0b0;
  --popover-foreground: #1f1f1f;

  /* Action colors */
  --primary: #b71c1c;
  --primary-foreground: #ffffff;
  
  --secondary: #556b2f;
  --secondary-foreground: #ffffff;
  
  --accent: #4682b4;
  --accent-foreground: #ffffff;
  
  --destructive: #ff6f00;
  --destructive-foreground: #000000;

  /* Supporting UI colors */
  --muted: #b8b8b8;
  --muted-foreground: #4a4a4a;
  
  --border: #505050;
  --input: #505050;
  --ring: #b71c1c;

  /* Border radius */
  --radius: 0px;
  --chart-1: #b71c1c;
  --chart-2: #556b2f;
  --chart-3: #4682b4;
  --chart-4: #ff6f00;
  --chart-5: #8d6e63;
  --sidebar: #b0b0b0;
  --sidebar-foreground: #1f1f1f;
  --sidebar-primary: #b71c1c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4682b4;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #505050;
  --sidebar-ring: #b71c1c;
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.4;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Map radius variables */
  --radius-sm: calc(var(--radius) * 0.5);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 1.5);
  --radius-xl: calc(var(--radius) * 2);
  --radius-2xl: calc(var(--radius) * 3);
  --radius-full: 9999px;
}

body {
  font-family: 'Inter', sans-serif;
}